/* ====================================
 component
==================================== */
/* フラッシュメッセージを定義しています
------------------------------------ */
.c-flash-message {
    background-color: rgba(108,214,199,0.9);
    width: 100%;
    position: absolute;
    z-index: 1;
}
