/* ====================================
component
==================================== */
/* 入力フォームを定義しています
------------------------------------ */
// 引用フレーズ用のtextarea
.c-input--new-quote {
    height: 80px !important;
}

.file-input {
    line-height: 20px;
}
.profile-img-input {
    margin-bottom: 5px;
}
