/* ====================================
 component
==================================== */
/* ナビゲーションを定義しています
------------------------------------ */
.c-navbar {
    &__nav {
        flex-direction: row !important;
        align-items: center;
    }

    &__link {
        color: $gray;

        &:hover {
            color: $black_normal;
            transition: all $transition_speed;
        }
    }

}

// カテゴリーナビ
.c-navbar--category {
    overflow-x: scroll !important;

    &__item {
        &.active {
            border-bottom: solid 1px $black_normal;
        }
    }

    &__link {
        white-space: nowrap !important;

        &.active {
            color: $black_normal !important;
        }
    }
}

// 並び替えナビ
.c-navbar--sort {
    &__item {
        &.active {
            border-bottom: solid 1px $black_normal;
        }
    }

    &__link {
        white-space: nowrap !important;

        &.active {
            color: $black_normal !important;
        }
    }
}

//.navbar-expand-md .navbar-nav {
//    flex-direction: row !important;
//    align-items: center;
//}
//.navbar-expand-md .navbar-nav .nav-link {
//    padding-right: 0.5rem !important;
//    padding-left: 0.5rem !important;
//}


//.navbar-expand-md .navbar-nav .dropdown-menu {
//    position: absolute !important;
//}
// 並び替え
//.sort-nav {
//    &__link {
//        white-space: nowrap !important;
//    }
//    //.nav-item.active {
//    //    border-bottom: solid 1px $black_normal;
//    //}
//    .nav-link.active {
//        color: $black_normal !important;
//    }
//}

