/* ====================================
 project
==================================== */
/* マイページのタブを定義しています
------------------------------------ */
.mypage-tabs {
    flex-wrap: nowrap !important;
    margin-bottom: $font-size_xl;
    white-space: nowrap;
    overflow-x: scroll;

    .active {
        background-color: $white !important;
    }

    .nav-link {
        color: $gray_light;

        &.active {
            color: $gray_dark;
        }
    }
}
