/* ====================================
component
==================================== */
/* ボタンを定義しています
------------------------------------ */
/* アイコン
==================================== */
// いいねボタン
.fa-heart{
    cursor: pointer;
}
.far.fa-heart{
    color: #6c757d;
}
.fas.fa-heart{
    color: #ff667c;
}
.like {
    &__btn--disabled{
        &:hover{
            color: inherit;
            text-decoration: none;
        }
        color: inherit;
    }
}
// 削除ボタン
.delete {
    &__btn {
        border: none;
        background-color: inherit;
        padding: 0;
        &:focus {
            outline: 0;
        }
    }
}
