/* ====================================
project
==================================== */
/* マイページのタブを定義しています
------------------------------------ */
.mypage-tabs {
    flex-wrap: nowrap !important;
    white-space: nowrap;
    overflow-x: scroll;
}
